
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.cart{
    width: 20px;
    height: 20px;
}
.cart-bar{
    gap: 6px;

}
#item1{
    color: #252432;
    font-weight: 600;
}
.item0{
    color: #8987A1;
}
#item2{
    color: #E95A08;
}
.bg-light{
    background-color: #F5F8FF;
}
.banner-description{
    width: 570px;
    height: 299px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-top: 275px;
}
.banner{
    justify-content: space-between;
    align-items: center;
}
.img{
    width: 100%;
}
.sell{
    text-align: center;
}
.sell-title{
    font-weight: 700;
    font-size: 3.1rem;
}
.sell-description{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);    
    height: 54px;
    
}
.sell-pd{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 0 auto;
    max-width: 1440px;
}
.product-name{
    margin-left: 70px;
    font-size: 1.3rem;
    font-weight: 500;
}
.product-price{
    margin-left: 95px;
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 5px;
}
.sell-btn{
    margin-bottom: 20px;
    background-color: #E95A08;
    width: 270px;
    height: 50px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}
.flower-lover-description{
    max-width:540px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 250px;
    
}
.store{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 210px;
    

}
.store-title{
    font-weight: 700;
    font-size: 3.1rem;
}
.deals{
    text-align: center;
    margin-top: 133px;
}
.deals-title{
    font-weight: 700;
    font-size: 3.1rem;
}
.deals-des{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}
.discount{
    justify-content: space-between;
    gap: 10px;
}
.deals-discount{
     max-width: 1440px;
     margin: 0 auto;
}
.bloom{
   background-image: url('../assets/deal-bloom.png');
   background-repeat: no-repeat;
   width: 365px;
   height: 205px;
   filter: contrast(-20);
   border-radius: 10px;
   margin-top: 120px;
}
.dis-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 65px 45px;
    text-align: center;

    
}
.ancor{
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    padding-left: 80px;
    
    

}
.ana{
    background-image: url("../assets/deal-ana.png");
    width: 365px;
    height: 205px;
    filter: opacity();
    border-radius: 10px;
    margin-top: 20px;
}
.zabo{
    background-image: url("../assets/deal-zabo.png");
    width: 750px;
    height: 420px;
    margin-top: 120px;
    border-radius: 10px;


}
.zabo-title{
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    margin-top: 170px;
}
.zabo-ancor{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.75rem;
    padding: 220px 240px 150px 240px;
}

























@media screen and (max-width: 576px) {
    .navbar, .nav-links, .store{
        flex-direction: column;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .sell-pd{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

